@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --capri: rgb(0, 191, 255);
  --fresh-air: rgb(171, 223, 255);
  --blue-sapphire: rgb(33, 91, 119);
  --cadet: rgb(157, 170, 183);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
